  <section id = "Capitolo-6">
  <h2>📐 Capitolo 6 – Schemi di Gioco</h2>

  <p>
    Nel sistema <strong>Mantra</strong> sono disponibili <strong>undici schemi tattici</strong>.
    Oltre alla posizione fissa del <em>portiere</em>, i calciatori vengono distribuiti su quattro linee di gioco:
  </p>
  <ul>
    <li><strong>Difesa</strong></li>
    <li><strong>Centrocampo</strong></li>
    <li><strong>Trequarti</strong></li>
    <li><strong>Attacco</strong></li>
  </ul>

  <p>
    In alcuni moduli, <em>due ruoli</em> possono occupare la stessa posizione: ciò significa che sono <strong>alternativi</strong>, anche in caso di sostituzione.
  </p>

  <p>
    Ogni schema richiede l’impiego di <strong>5 calciatori difensivi</strong> (ruoli <em>Dd, Ds, Dc, B, E, M</em>) e <strong>5 calciatori offensivi</strong> (ruoli <em>C, T, W, A, Pc</em>).
  </p>
  <p>
    Questa struttura garantisce un potenziale bilanciato e offre <strong>11 soluzioni tattiche</strong> di pari valore strategico, impensabili nel fantacalcio classico.
  </p>

  <figure>
    <img src="https://content.fantacalcio.it/web/img/medium/543b023e-cdde-4e5e-8d9d-b8e02b86d216.jpg" alt="Esempi di schemi Mantra" style="max-width:100%; height:auto; border-radius:8px; margin-top:1em;" />
    <figcaption style="text-align:center; font-style:italic; margin-top:0.5em;">
      Esempi di schemi tattici Mantra
    </figcaption>
  </figure>
  </section>